.App {
  text-align: center;
  width: 100vw;
  max-width: 900px;
  margin: auto;
  ;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.categoryContainer{
display:flex;
direction:row;
justify-content:flex-start;
flex-wrap: wrap;
background:whitesmoke;
width: 99%;
margin: 0 auto;
}
.categoryContainer article{
  display: flex;
  justify-content: space-around;
  width: 33%;
  max-width: 150px;
  background: #61dafb;
  cursor:pointer;
  padding: 0 auto;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.categoryContainer article p{
  margin: auto;
  text-shadow: #000000 0.7px 0.6px 0.5px;
  
}
.categoryContainer article img{
  width: 40%;
  margin: 5px auto;
  background: rgb(255, 255, 255,35%);
  border-radius: 15px;
}
h2{
  color: rgb(247, 37, 142);
  text-shadow: #7f7f7f 0.7px 0.6px 0.5px;
}